.subName{
    position:relative;
    bottom:1%;
  }
.category{
  font-family: "dream";
  font-size: large;
  font-weight: bold;
  color : black;
  text-align: center;
}
.imgText{
  font-size: 12px;
  font-family: "dream";
  color : black;
  text-align: center;
}